frontend/node_modules/
frontend/apps/web/node_modules/
frontend/apps/web/dist/

node_modules/
backend/node_modules/
.DS_Store
backend/app/schemas/__pycache__/
backend/app/models/__pycache__/
mobile/node_modules/
frontend/apps/mobile/node_modules/
frontend/apps/mobile/dist/
frontend/apps/mobile/.expo/
frontend/apps/mobile/.expo-shared/
frontend/apps/mobile/.dart_tool/
frontend/apps/mobile/ios/Pods/
frontend/apps/mobile/.idea/
frontend/apps/mobile/android/
frontend/apps/mobile/build/
frontend/apps/mobile/ios
frontend/apps/mobile/linux/
frontend/apps/mobile/macos/
frontend/apps/mobile/web/
frontend/apps/mobile/test/
frontend/apps/mobile/mobile/

