frontend/node_modules/
frontend/apps/web/node_modules/
frontend/apps/web/public/
frontend/apps/web/dist/

node_modules/
backend/node_modules/
.DS_Store
backend/app/crud
backend/app/schemas/__pycache__/
backend/app/models/__pycache__/
frontend/apps/mobile/
