frontend/node_modules/
frontend/apps/web/node_modules/
frontend/apps/web/dist/

node_modules/
backend/node_modules/
.DS_Store
backend/app/schemas/__pycache__/
backend/app/models/__pycache__/
mobile/node_modules/
frontend/apps/mobile/node_modules/
frontend/apps/mobile/dist/

frontend/apps/mobile/build/


